[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-amazon-sp-api = "*"
python-dotenv = "*"
oauth2client = "*"
gspread = "*"
install = "*"

[dev-packages]

[requires]
python_version = "3.11"
